/* O * é para selecionar todos os elementos */
*{
    padding: 0;
    border: 0;
}
/* O seletor é a tag Main */
main{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
h2{
    color: #333;
    margin-bottom: 10px;
}
/* O . significa que é uma class */
.perfil{
    position: relative;
    margin-bottom: 40px;
}
/* O p é um ascendente */
.perfil p{
    max-width: 600px;
}
section header{
    all: unset; /*Limpa heranças problemáticas*/
    display: inline-block;
    background: linear-gradient(45deg, #ffd700, #ffcc00);
    padding: 4px 10px;
    border-radius:15px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
section{
    float: left;
    width: 70%;
    margin-top: 0;
}
section ul{
    margin-top: 10px;
    padding-left: 0; /*Remove o recuo padrão*/
    text-align: center;
}
section ul li{
    list-style: square;
    list-style-position: inside;/*mantém o marcador junto com o texto*/
}
/*animação hover*/
section ul li:hover{
    color: #008000;
    transform: translateX(5px);
    cursor: pointer;
}
aside{
    float: right;
    width: 30%;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    margin-top: 0;
}
footer {
    clear: both;
}
/*Adaptando o layout para telas menores, como celulares e tablets*/
@media(max-width:768px){
}
    .perfil{
        flex-direction: column;
        text-align: center;
}
section, aside{
    float: none;
    width: 100%;
}
aside{
    margin-top: 20px
}